div.title {
	font-family: "PT Serif", "Times New Roman", Times, serif;
	text-align: center;
	font-size: 350%;
	font-weight: bold;
	margin-top: 1em;
	line-height: 2;
}

div.subtitle {
	font-family: "PT Serif", "Times New Roman", Times, serif;
	text-align: center;
	font-size: 200%;
	line-height: 1.5;
}

div.authors {
	font-family: "PT Serif", "Times New Roman", Times, serif;
	text-align: center;
	font-size: 150%;
	line-height: 1.5;
}


div.copyright {
	text-align: center;
	margin-top: 5em;
	line-height: 1.5;
	margin-bottom: 2.5em;
}

div.input {
	width: 125ex;
}

div.text_cell {
	width: 105ex;
}

div.text_cell p {
	text-align: justify !important;
}

div.container {
	width: 140ex;
}

div.text_cell_render {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1.1em;
	line-height: 1.2;
	width: 105ex;
}

div.text_cell_render h1 {
	font-family: "PT Serif", "Times New Roman", Times, serif;
	font-size: 1.75em;
}

div.text_cell_render h2 {
	font-family: "PT Serif", "Times New Roman", Times, serif;
	font-size: 1.5em;
}

div.text_cell_render h3 {
	font-family: "PT Serif", "Times New Roman", Times, serif;
	font-size: 1.25em;
}

div.text_cell_render h4 {
	font-family: "PT Serif", "Times New Roman", Times, serif;
	font-size: 1.0em;
}

div.text_cell_render em {
	color: #337ab7;
}

div.text_cell_render code {
	padding: 0em;
	background-color: #fff;
	color: #000;
	font-weight: 600;
	font-family: monospace;
	font-size: 85%;
}

div.MathJax_Display {
	margin-top: 0.33em;
}

div.pseudo_code {
	margin: 1em;
	background-color: #fff;
	color: #000;
	font-weight: 700;
	font-family: monospace;
}

div.output_stderr {
    display: none;
}
